<a href="https://colab.research.google.com/github/thlavlu/BRACU/blob/master/Lab05_Prantha.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#Task03; Load the dataset as dataframe using pandas
import pandas as pd
import numpy as np
import sklearn
heart = pd.read_csv('/content/sample_data/heart failur classification dataset.csv')
heart.head(10)

   Unnamed: 0   age  anaemia  ...  smoking  time  DEATH_EVENT
0           0  75.0        0  ...       No   4.0            1
1           1  55.0        0  ...       No   6.0            1
2           2  65.0        0  ...      Yes   7.0            1
3           3  50.0        1  ...       No   7.0            1
4           4  65.0        1  ...       No   8.0            1
5           5  90.0        1  ...      Yes   8.0            1
6           6  75.0        1  ...       No  10.0            1
7           7  60.0        1  ...      Yes  10.0            1
8           8  65.0        0  ...       No  10.0            1
9           9  80.0        1  ...      Yes  10.0            1

[10 rows x 14 columns]

In [ ]:
mashroom.isnull().sum()

Unnamed: 0                  0
age                         0
anaemia                     0
creatinine_phosphokinase    0
diabetes                    0
ejection_fraction           0
high_blood_pressure         0
platelets                   0
serum_creatinine            0
serum_sodium                6
sex                         0
smoking                     0
time                        7
DEATH_EVENT                 0
dtype: int64

In [ ]:
#Task04;Handle missing values if needed
from sklearn.impute import SimpleImputer

impute = SimpleImputer(missing_values=np.nan, strategy='mean')
impute.fit(heart[['serum_sodium']], heart[['time']])
heart['serum_sodium']=impute.transform(heart[['serum_sodium']])
heart['time']=impute.transform(heart[['time']])
print(heart.isnull().sum())

Unnamed: 0                  0
age                         0
anaemia                     0
creatinine_phosphokinase    0
diabetes                    0
ejection_fraction           0
high_blood_pressure         0
platelets                   0
serum_creatinine            0
serum_sodium                0
sex                         0
smoking                     0
time                        0
DEATH_EVENT                 0
dtype: int64

In [ ]:
heart.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 299 entries, 0 to 298
Data columns (total 14 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Unnamed: 0                299 non-null    int64
 1   age                       299 non-null    float64
 2   anaemia                   299 non-null    int64
 3   creatinine_phosphokinase  299 non-null    int64
 4   diabetes                  299 non-null    int64
 5   ejection_fraction         299 non-null    int64
 6   high_blood_pressure       299 non-null    int64
 7   platelets                 299 non-null    float64
 8   serum_creatinine          299 non-null    float64
 9   serum_sodium              299 non-null    float64
 10  sex                       299 non-null    object
 11  smoking                   299 non-null    object
 12  time                      299 non-null    float64
 13  DEATH_EVENT               299 non-null    int64
dtypes: float64(5), int64(7), object(2)
memory usage: 32.8+ KB

In [ ]:
#Task05; Encode categorical features if needed
from sklearn.preprocessing import LabelEncoder

encoder = LabelEncoder()
heart['sex']=encoder.fit_transform(heart['sex'])
print(heart[['sex']].head())
heart['smoking']=encoder.fit_transform(heart['smoking'])
print(heart[['smoking']].head())

   sex
0    1
1    1
2    1
3    1
4    0
   smoking
0        0
1        0
2        1
3        0
4        0

In [ ]:
#Task06; Scale all the values between 0-1 with proper scaling technique

from sklearn.model_selection import train_test_split

X,Y=heart.iloc[:,2:13],heart.iloc[:,13:]
X_train, X_test,Y_train, Y_test=train_test_split(X,Y,random_state=1)
print(X_train.shape)
print(X_test.shape)

(224, 11)
(75, 11)

In [ ]:
#Task07; Split the dataset into features and labels. Use your intuition to determine which column indicates the labels.
from sklearn.preprocessing import MinMaxScaler

scaler = MinMaxScaler()
scaler.fit(X_train)
X_train_scaled=scaler.transform(X_train)
print("Per-feature minimum before scaling:\n {}".format(X_train.min(axis=0)))
print("Per-feature maximum before scaling:\n {}".format(X_train.max(axis=0)))
print("per-feature minimum after scaling:\n {}".format(
    X_train_scaled.min(axis=0)))
print("per-feature maximum after scaling:\n {}".format(
    X_train_scaled.max(axis=0)))

Per-feature minimum before scaling:
 anaemia                         0.0
creatinine_phosphokinase       23.0
diabetes                        0.0
ejection_fraction              15.0
high_blood_pressure             0.0
platelets                   25100.0
serum_creatinine                0.6
serum_sodium                  113.0
sex                             0.0
smoking                         0.0
time                            4.0
dtype: float64
Per-feature maximum before scaling:
 anaemia                          1.0
creatinine_phosphokinase      7861.0
diabetes                         1.0
ejection_fraction               80.0
high_blood_pressure              1.0
platelets                   850000.0
serum_creatinine                 9.4
serum_sodium                   148.0
sex                              1.0
smoking                          1.0
time                           280.0
dtype: float64
per-feature minimum after scaling:
 [0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0.]
per-feature maximum after scaling:
 [1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1.]