<a href="https://colab.research.google.com/github/thlavlu/BRACU/blob/master/lab05_Mahim.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#Task03; Load the dataset as dataframe using pandas

import pandas as pd
import numpy as np
import sklearn
glass = pd.read_csv('/content/sample_data/glass source classification dataset.csv')
glass.head(20)

    Unnamed: 0       RI  ...              Fe                   Type
0            0  1.52101  ...  Does not exist  building_window glass
1            1  1.51761  ...  Does not exist  building_window glass
2            2  1.51618  ...  Does not exist  building_window glass
3            3  1.51766  ...  Does not exist  building_window glass
4            4  1.51742  ...  Does not exist  building_window glass
5            5  1.51596  ...          exists  building_window glass
6            6  1.51743  ...  Does not exist  building_window glass
7            7  1.51756  ...  Does not exist  building_window glass
8            8  1.51918  ...  Does not exist  building_window glass
9            9  1.51755  ...          exists  building_window glass
10          10  1.51571  ...          exists  building_window glass
11          11  1.51763  ...  Does not exist  building_window glass
12          12  1.51589  ...          exists  building_window glass
13          13  1.51748  ...          exists  building_window glass
14          14  1.51763  ...  Does not exist  building_window glass
15          15  1.51761  ...  Does not exist  building_window glass
16          16  1.51784  ...  Does not exist  building_window glass
17          17  1.52196  ...  Does not exist  building_window glass
18          18  1.51911  ...  Does not exist  building_window glass
19          19  1.51735  ...          exists  building_window glass

[20 rows x 11 columns]

In [ ]:
glass.isnull().sum()

Unnamed: 0    0
RI            0
Na            0
Mg            0
Al            0
Si            0
K             0
Ca            6
Ba            0
Fe            0
Type          0
dtype: int64

In [ ]:
#Task04;Handle missing values if needed

from sklearn.impute import SimpleImputer

impute = SimpleImputer(missing_values=np.nan, strategy='mean')
impute.fit(glass[['Ca']])
glass['Ca']=impute.transform(glass[['Ca']])
print(glass.isnull().sum())

Unnamed: 0    0
RI            0
Na            0
Mg            0
Al            0
Si            0
K             0
Ca            0
Ba            0
Fe            0
Type          0
dtype: int64

In [ ]:
glass.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 214 entries, 0 to 213
Data columns (total 11 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  214 non-null    int64
 1   RI          214 non-null    float64
 2   Na          214 non-null    float64
 3   Mg          214 non-null    float64
 4   Al          214 non-null    float64
 5   Si          214 non-null    float64
 6   K           214 non-null    float64
 7   Ca          214 non-null    float64
 8   Ba          214 non-null    object
 9   Fe          214 non-null    object
 10  Type        214 non-null    object
dtypes: float64(7), int64(1), object(3)
memory usage: 18.5+ KB

In [ ]:
#Task05; Encode categorical features if needed

from sklearn.preprocessing import LabelEncoder

encoder = LabelEncoder()
glass['Ba']=encoder.fit_transform(glass['Ba'])
print(glass[['Ba']].head(100))
glass['Fe']=encoder.fit_transform(glass['Fe'])
print(glass[['Fe']].head())
glass['Type']=encoder.fit_transform(glass['Type'])
print(glass[['Type']].head())

    Ba
0    0
1    0
2    0
3    0
4    0
..  ..
95   0
96   0
97   0
98   0
99   1

[100 rows x 1 columns]
   Fe
0   0
1   0
2   0
3   0
4   0
   Type
0     0
1     0
2     0
3     0
4     0

In [ ]:
#Task06; Scale all the values between 0-1 with proper scaling technique

from sklearn.model_selection import train_test_split

X,Y=glass.iloc[:,2:13],glass.iloc[:,13:]
X_train, X_test,Y_train, Y_test=train_test_split(X,Y,random_state=1)
print(X_train.shape)
print(X_test.shape)

(160, 9)
(54, 9)

In [ ]:
#Task07; Split the dataset into features and labels. Use your intuition to determine which column indicates the labels.
from sklearn.preprocessing import MinMaxScaler

scaler = MinMaxScaler()
scaler.fit(X_train)
X_train_scaled=scaler.transform(X_train)
print("Per-feature minimum before scaling:\n {}".format(X_train.min(axis=0)))
print("Per-feature maximum before scaling:\n {}".format(X_train.max(axis=0)))
print("per-feature minimum after scaling:\n {}".format(
    X_train_scaled.min(axis=0)))
print("per-feature maximum after scaling:\n {}".format(
    X_train_scaled.max(axis=0)))

Per-feature minimum before scaling:
 Na      11.02
Mg       0.00
Al       0.29
Si      69.89
K        0.00
Ca       5.43
Ba       0.00
Fe       0.00
Type     0.00
dtype: float64
Per-feature maximum before scaling:
 Na      17.38
Mg       3.98
Al       3.50
Si      75.41
K        6.21
Ca      14.96
Ba       1.00
Fe       1.00
Type     4.00
dtype: float64
per-feature minimum after scaling:
 [0. 0. 0. 0. 0. 0. 0. 0. 0.]
per-feature maximum after scaling:
 [1. 1. 1. 1. 1. 1. 1. 1. 1.]